<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="mystyle.css">
</head>
<body>

<div class="navbar">
  <a href="#home">Home</a>
  <div class="subnav">
    <button class="subnavbtn">Manage Product <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/addNewProduct">Add New Products</a>
       <a href="#team">List All Product</a>
      <a href="#team">Update Product</a>
      <a href="#careers">Delete Product</a>
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Manage Users <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#bring">List All User</a>
      <a href="#deliver">Search By UserName</a>
      
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Manage Purchase Report <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">View Purchase Report</a>
      <a href="#link2">View Purchase Report By Date</a>
      <a href="#link3">View Purchase Report By User</a>
     
    </div>
  </div>
  <a href="#contact">Contact</a>
</div>



</body>
</html>
