<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Login</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<style>
.error {
	color: red;
}
</style>
</head>

<header th:insert="fragments/header" ></header>
<body>

	<div class="container col-md-8 col-md-offset-3" style="overflow: auto">
		<h1>Login Form</h1>
		<form action="#" th:action="@{/adminLogin}" th:object="${adminUser}"
			method="POST">
			<div class="form-group">
				<label for="adminUserName">User Name:</label> <input type="text"
					class="form-control" th:field="*{adminUserName}"
					placeholder="User Name" required>
				<p th:if="${#fields.hasErrors('adminUserName')}"
					th:errorclass="error" th:errors="*{adminUserName}" />
			</div>
			<div class="form-group">
				<label for="adminPassword">Password:</label> <input type="password"
					class="form-control" th:field="*{adminPassword}"
					placeholder="Password" required>
				<p th:if="${#fields.hasErrors('adminPassword')}"
					th:errorclass="error" th:errors="*{adminPassword}" />
			</div>

			<button type="submit" class="btn btn-secondary">Login</button>

			<div th:if="${#fields.hasAnyErrors()}" >

				<p  th:each="err : ${#fields.allErrors()}" th:text="${err}" class="error"  />

			</div>
		</form>
		</div>
</body>
</html>