<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="ISO-8859-1">
<title>Delete Product</title>
<link
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:rel="stylesheet" th:href="@{/mystyle.css}">
</head>
<body>
	<header th:replace="fragments/header"></header>
	<div th:if="${session.UserName != null}">
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand">Delete Product By Id</a>
				<form class="d-flex" th:action="@{/deleteProductDetail}"
					th:object="${productIdPOJO}" th:method="get">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search" th:field="*{id}"> <input type="hidden"
						th:field="*{pageNo}">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div th:if="${productNotFound}">
			<h2>
				Product with ProductId <span th:text="${productIdPOJO.id}"></span>
				Not Found!!!!!
			</h2>
		</div>
	</div>
</body>
</html>