<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="ISO-8859-1">
<title>Search By User Name</title>
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" 
	rel="stylesheet" >
</head>
<body>
<header th:replace="fragments/header"></header>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Enter UserName of the Customer</a>
    <form class="d-flex"  th:action="@{/getUserDetail}" th:object="${customerNamePOJO}"  method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:field="*{userName}" >
      <input type="hidden" th:field="*{pageNo}">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

</body>
</html>