<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="ISO-8859-1">
<title>Search By User Name</title>
<link
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}"
	rel="stylesheet">
	<link th:rel="stylesheet"
	th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<link th:rel="stylesheet" th:href="@{/mystyle.css}">
</head>
<body>
<header th:insert="fragments/header" hidden=""></header>
	<header th:replace="fragments/header"></header>
	

	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">Select the category name from the drop-down</a>
			<form class="d-flex" th:action="@{/getByDate}"
				th:object="${purchaseReportByDatePOJO}" method="GET">
				
					<div class="input-group date navbar-brand nav-info" id="datetimepicker1"
							data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input"
								data-target="#datetimepicker1" th:field="*{purchaseDt}"
								id="mfgDate" placeholder="Date" />
							<div class="input-group-append" data-target="#datetimepicker1"
								data-toggle="datetimepicker">
								<div class="input-group-text ">
									<i class="fa fa-calendar-alt"></i>
								</div>
							</div>
						</div>
						<div > </div>
						<input type="hidden" th:field="*{pageNo}">
					<button class="btn btn-outline-success btn-lg " type="submit">Search</button>
				
			</form>
		</div>
	</nav>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/moment/moment.min.js}"></script>
	<script
		th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>

	<script>
   

    $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY'
    });
</script>
</body>
</html>