<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Products</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link th:rel="stylesheet" th:href="@{/mystyle.css}" />
</head>
<header th:insert="fragments/header" hidden=""></header>
<header th:replace="fragments/header"></header>
<body>
	<div th:if="${session.UserName != null}">
		<div th:if="${totalRecords != 0}">
			<div class="container my-2">

				<h1>Products List</h1>

				<table border="1" class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Product Id</th>
							<th>Product Name</th>
							<th>Product Size</th>
							<th>Product Price</th>
							<th>Product Manufactured Date</th>
							<th>Product Category</th>
							<th>Product Count</th>
							<th>Update Product</th>
							<th>Delete Product</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="productDetail : ${listOfProducts}">
							<td th:text="${productDetail.id}"></td>
							<td th:text="${productDetail.productName}"></td>
							<td th:text="${productDetail.productSize}"></td>
							<td th:text="${productDetail.productPrice}"></td>
							<td th:text="${productDetail.mfgDate}"></td>
							<td th:text="${productDetail.category.categoryName}"></td>
							<td th:text="${productDetail.quantity}"></td>
							<td><a
								th:href="@{'/updateProductDetail/?id={id}&pageNo='+${activePage}(id=${productDetail.id})}"
								class="btn btn-info"><i class="fa fa-edit"></i> Update</a></td>
							<td><a
								th:href="@{'/deleteProductDetail/?id={id}&pageNo='+${activePage}(id=${productDetail.id})}"
								class="btn btn-info" ><i class="fa fa-trash"></i> Delete</a></td>
						</tr>

					</tbody>
				</table>

				<div th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<ul class="pagination">
							<span th:each="index : ${#numbers.sequence(1,totalPages)}">
								<li class="page-item"><a class="page-link"
									th:href="@{'/product/'+${index}}" >[[${index}]]</a></li>
							</span>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:if="${totalRecords == 0}">
		<h2>No Records FOUND !!!!!!!!</h2>
	</div>
	</div>
</body>
</html>